@{

}
@model ZoneTech.Models.CategoriaML
@{
    
}
<a class="btn btn-success" asp-controller="Categoria" asp-action="CrearCategoria">Agregar</a>

<h1>Lista de Categorias</h1>
<table class="table table-dark table-striped" id="tablelist">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Estado</th>
      <th>
        <th scope="col">Opción</th>
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in ViewBag.list)
    {
      <tr>
        <td>@item.CategoriaId</td>
        <td>@item.Nombre</td>
        <td>@item.EstadoId</td>
         <td>
          <td>
            @Html.ActionLink("Eliminar","EliminarCategoria",new{id=@item.CategoriaId},new{@class="btn btn-danger"})
            @Html.ActionLink("Editar","EditarCategoria",new{id=@item.CategoriaId},new{@class="btn btn-warning"})
          </td>
        </td>
      </tr>
    }
  </tbody>
</table>

@section scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function(){
        //alert("Read load");
        var tabla = $('#tablelist').DataTable();
      });
    </script>
}
