@{

}

<h2>Panel de control</h2>
<h3>Administrador</h3>

<section>
    <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 border-primary" style="max-width: 20rem">
                            <img class="card-img-top" src="">"
                            <div class="card-body">
                                <h3 class="card-title"></h5>
                                <h5 class="card-title">Estado</h5>
                                <p class="card-text">Configuracion de Estados</p>
                                @Html.ActionLink("Admin","Estado",new{@class="btn btn-primary"})
                            </div>
                        </div>
                    </div>
                      <div class="col">
                        <div class="card h-100 border-primary" style="max-width: 20rem">
                            <img class="card-img-top" src="">"
                            <div class="card-body">
                                <h3 class="card-title"></h5>
                                <h5 class="card-title">Tipos de clientes</h5>
                                <p class="card-text">Configuracion de Tipos de clientes</p>
                                @Html.ActionLink("Admin","TipoCliente",new{@class="btn btn-primary"})
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Tipos de Usuarios</h5>
                            <p class="card-text">Configuracion de Tipos de Usuarios</p>
                            @Html.ActionLink("Admin","TiposUsuarios",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                     <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Departamentos</h5>
                            <p class="card-text">Configuracion de Departamentos</p>
                            @Html.ActionLink("Admin","Departamento",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                     <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Municipio</h5>
                            <p class="card-text">Configuración de Municipio</p>
                            @Html.ActionLink("Admin","Municipio",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Marcas</h5>
                            <p class="card-text">Configurar marcas</p>
                            @Html.ActionLink("Admin","Marcas",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Categorias</h5>
                            <p class="card-text">Configurar categorias</p>
                            @Html.ActionLink("Admin","Categorias",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Modelo</h5>
                            <p class="card-text">Configurar categorias</p>
                            @Html.ActionLink("Admin","Categorias",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>

                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Articulos</h5>
                            <p class="card-text">Configurar Articulos</p>
                            @Html.ActionLink("Admin","Articulos",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>
            </div>
        </div>
</section>
